
form input {
	display: inline;
	margin: 5px 0 0 10px;
}

fieldset{
	width:20em;
	background:#d8ebb9;
	padding: 5px 10px;
}

label{
	width:100px;
	display: inline-block;
}

#laskubtn{
	display:block;
	float: right;
	
}
